@model CAM.Web.ViewModels.Times.TimesDetailsViewModel
@{
    ViewData["Title"] = "Aircraft Times";
}
<h3 class="content-header">@Model.RegistrationNum @Model.Model</h3>
<h4 class="content-header">Aircraft Times</h4>
<dl class="row">
        @if (Model.AircraftTimes.HasHobbs)
        {
        <dt class="col-sm-2">Hobbs Time:</dt>
        <dd class="col-sm-10">@(Html.DisplayFor(m => Model.AircraftTimes.TimeHobbs))</dd>
        }
        @if (Model.AircraftTimes.TrackAirTime){
        <dt class="col-sm-2">Air Time:</dt>
        <dd class="col-sm-10">@(Html.DisplayFor(m => Model.AircraftTimes.AirTime))</dd>}
        @if (Model.AircraftTimes.TrackCycles){
        <dt class="col-sm-2">Cycles:</dt>
        <dd class="col-sm-10">@(Html.DisplayFor(m => Model.AircraftTimes.Cycles))</dd>}
        <dt class="col-sm-2">Total Time:</dt>
        <dd class="col-sm-10">@(Html.DisplayFor(m => Model.AircraftTimes.TimeTotal))</dd>
</dl>
@foreach (var item in Model.Engines)
{
<h4 class="content-header">#@item.Index Engine Times</h4>
<dl class="row">
    @if (item.HasTach)
    {
    <dt class="col-sm-2">@(Html.DisplayNameFor(i => item.TimeTach))</dt>
    <dd class="col-sm-10">@(Html.DisplayFor(i => item.TimeTach))</dd>
    }
    <dt class="col-sm-2">@(Html.DisplayNameFor(i => item.TimeTsmoh))</dt>
    <dd class="col-sm-10">@(Html.DisplayFor(i => item.TimeTsmoh))</dd>
    <dt class="col-sm-2">@(Html.DisplayNameFor(i => item.TimeTotal))</dt>
    <dd class="col-sm-10">@(Html.DisplayFor(i => item.TimeTotal))</dd>
</dl>
}
@foreach (var item in Model.Props)
{
<h4 class="content-header">#@item.Index Prop Times</h4>
<dl class="row">
    <dt class="col-sm-2">@(Html.DisplayNameFor(i => item.TimeTsmoh))</dt>
    <dd class="col-sm-10">@(Html.DisplayFor(i => item.TimeTsmoh))</dd>
    <dt class="col-sm-2">@(Html.DisplayNameFor(i => item.TimeTotal))</dt>
    <dd class="col-sm-10">@(Html.DisplayFor(i => item.TimeTotal))</dd>
</dl>
}
<!-- bottom control footer -->
<div class="control-footer">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary btn-sm">Edit</a>
    <a asp-controller="Aircraft "asp-action="Index" class="btn btn-secondary btn-sm">Back to Aircraft</a>
</div>
