@model CAM.Web.ViewModels.Inventory.InventoryIndexViewModel
@{
    ViewData["Title"] = "Inventory";
}
@await Html.PartialAsync("_StatusMessagePartial", TempData)

<div class="panel-body">
    <div class="control-panel">
        <div class="btn-toolbar justify-content-between">
            @* Left *@
            <div>
                <div class="btn-group mr-1">
                    <button class="btn btn-secondary" data-toggle="modal" data-target="#newPartModal">Add Part</button>
                </div>
                <div class="btn-group mr-1">
                    <a class="btn btn-secondary" asp-controller="inventory" asp-action="receive">Receive Shipment</a>
                </div>
                <div class="btn-group mr-1">
                    <a class="btn btn-dark" asp-controller="inventory" asp-action="perform">Perform Inventory</a>
                </div>
            </div>
            @* Right *@
            <div class="input-group float-right">
                <form asp-action="index" method="get" class="form-inline">
                    <div class="form-group mb-2">
                        <input type="text" class="form-control control-object" name="search" placeholder="Search for a part..." autocomplete="off" />
                    </div>
                    <div class="form-group mb-2">
                       @await Html.PartialAsync("_PartsFilterPartial", new ViewDataDictionary(ViewData)) 
                    </div>
                    <div class="form-group ml-1 mb-2">
                        <input type="submit" value="Search" class="btn btn-secondary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Part #</th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Stock</th>
                <th style="width: 200px">Actions</th>
            </tr>
        </thead>
        <tbody>
            @Html.DisplayFor(m => m.PaginatedParts)
        </tbody>
        <tfoot>
            <td colspan="6">
                <div class="row">
                    <div class="col-md-6">
                        <span>
                            <span class="dropdown">
                                <button class="btn btn-light dropdown-toggle" data-toggle="dropdown"></button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a asp-action="Index" asp-route-search="@ViewData["SearchValue"]" 
                                                asp-route-filter="@ViewData["FilterValue"]" asp-route-page="@ViewData["PageValue"]"
                                                asp-route-ipp="10">10
                                            </a>
                                            </li>
                                        <li>
                                            <a asp-action="Index" asp-route-search="@ViewData["SearchValue"]" 
                                                asp-route-filter="@ViewData["FilterValue"]" asp-route-page="@ViewData["PageValue"]"
                                                asp-route-ipp="20">20
                                            </a>
                                        </li>
                                    </ul>
                            </span>
                        </span>
                        <span>@Model.PaginatedParts.StateMessage</span>
                    </div>
                    <div class="col-md-6">
                        <ul class="pagination justify-content-end">
                            <li class="page-item">
                                <a asp-action="Index" asp-route-search="@ViewData["SearchValue"]" 
                                    asp-route-filter="@ViewData["FilterValue"]" asp-route-ipp="@ViewData["IppValue"]"
                                    asp-route-page="1" class="page-link">
                                    <i class="fas fa-angle-double-left"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <button asp-action="Index" asp-route-search="@ViewData["SearchValue"]" 
                                    asp-route-filter="@ViewData["FilterValue"]" asp-route-ipp="@ViewData["IppValue"]"
                                    asp-route-page="@(Model.PaginatedParts.PageIndex - 1)" 
                                    disabled="@(!Model.PaginatedParts.HasPrevPage)" class="page-link">
                                    <i class="fas fa-angle-left"></i>
                                </button>
                            </li>
                            @foreach (int num in Model.PaginatedParts.ControlPanelPageNumbers)
                            {
                                <li class="page-item">
                                <button asp-action="Index" asp-route-search="@ViewData["SearchValue"]" 
                                    asp-route-filter="@ViewData["FilterValue"]" asp-route-ipp="@ViewData["IppValue"]"
                                    asp-route-page="@num" 
                                    disabled="@(!Model.PaginatedParts.PageInRange(num))" class="page-link">
                                    @num
                                </button>
                                </li>
                            }
                            <li class="page-item">
                                <button asp-action="Index" asp-route-search="@ViewData["SearchValue"]" 
                                    asp-route-filter="@ViewData["FilterValue"]" asp-route-ipp="@ViewData["IppValue"]"
                                    asp-route-page="@(Model.PaginatedParts.PageIndex + 1)" 
                                    disabled="@(!Model.PaginatedParts.HasNextPage)" class="page-link">
                                    <i class="fas fa-angle-right"></i>
                                </button>
                            </li>
                            <li class="page-item">
                                <a asp-action="Index" asp-route-search="@ViewData["SearchValue"]" 
                                    asp-route-filter="@ViewData["FilterValue"]" asp-route-ipp="@ViewData["IppValue"]"
                                    asp-route-page="@Model.PaginatedParts.PageTotal" class="page-link">
                                    <i class="fas fa-angle-double-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </td>
        </tfoot>
    </table>
</div>
@* ajax modals *@
@await Html.PartialAsync("_ModalPartsCreatePartial", new CAM.Web.ViewModels.Parts.PartsCreateViewModel())

@await Html.PartialAsync("_ModalPartsDeletePartial")