@model CAM.Core.Entities.Squawk

@{
    ViewData["Title"] = "Squawk Details";
}
<div>
    <h3 class="content-header">Squawk Details</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Date Created:</dt>
        <dd class="col-sm-10">@(Html.DisplayFor(m => Model.DateCreated))</dd>
        <dt class="col-sm-2">Pilot:</dt>
        <dd class="col-sm-10">@(Html.DisplayFor(m => Model.Pilot))</dd>
        <dt class="col-sm-2">Aircraft:</dt>
        <dd class="col-sm-10">@(Html.DisplayFor(m => Model.Id))</dd>
        <dt class="col-sm-2">Discrepancy:</dt>
        <dd class="col-sm-10">@(Html.DisplayFor(m => Model.Description))</dd>
        <dt class="col-sm-2">Grounded?:</dt>
        <dd class="col-sm-10">@(Html.DisplayFor(m => Model.IsGroundable))</dd>
    </dl>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Status:</dt>
        <dd class="col-sm-10">@(Html.DisplayFor(m => Model.Status))<dd>
        <dt class="col-sm-2">Resolution:</dt>
        <dd class="col-sm-10">@(Html.DisplayFor(m => Model.Resolution))</dd>
        <dt class="col-sm-2">Resolution Date:</dt>
        <dd class="col-sm-10">@(Html.DisplayFor(m => Model.DateResolved))</dd>
        <dt class="col-sm-2">Resolved by:</dt>
        <dd class="col-sm-10">@(Html.DisplayFor(m => Model.ResolvedBy))</dd>
    </dl>
</div>
<!-- bottom control footer -->
<div class="control-footer">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary btn-sm">Edit</a>
    <a asp-action="Index" class="btn btn-secondary btn-sm">Back to Squawks</a>
</div>
        