@model CAM.Web.ViewModels.Inventory.InventoryReceiveItemViewModel
@* Utilizes empty CSS classes part-id and part-qty used to select and check for duplicates after ajax call. *@
@using (Html.BeginCollectionItem("ReceiveItems"))
{
<div class="row part-container">
    <div class="receive-item col-md-8">
        <div class="receive-img">
            <img src="@Url.Content(@Model.ImgThumb)">
        </div>
        <div class="receive-title">
            @Html.HiddenFor(m => m.Id)
            <a href="@Url.Action("Details", "Parts", new { id = Model.Id})" class="part-id" id="newPartId">@Model.Id</a>
        </div>
        <div class="receive-stock">
            <span>Current stock: @Model.CurrentStock</span>
        </div>
        <div class="receive-desc">
            <span>@Model.Name</span>
        </div>
    </div>
    <div class="receive-qty col-md-2">
        <div>
            <fieldset class="border p-2">
                    <legend class="w-auto">Quantity</legend>
                        @Html.EditorFor(m => m.Qty, new { htmlAttributes = new { @class = "part-qty", id = "newPartQty", min = "1" } })
            </fieldset>
        </div>
    </div>
    <div class="receive-controls col-md-2">
        <div>
            <button type="button" class="btn btn-md btn-danger mt-3 btn-del">Remove</button>
        </div>
    </div>
</div>
}