@model CAM.Web.ViewModels.Parts.PartsDetailsViewModel
@{
    ViewData["Title"] = $"CAM - {Model.Id}";
}

<div class="panel-body shadowed">
    <div>
        <table class="part-table">
            <tbody>
                @* Header *@
                <tr>
                    <td colspan="2" style="padding: 5px 10px;">
                        <div class="border-bot">
                            <table class="part-table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h2>@Model.Id - @Model.Name</h2>
                                            <h5>Vendor: @Model.Vendor</h5>
                                            <div style="font-size: 15px;">
                                                IPC Part #: <strong>@Model.CataloguePartNumber</strong>
                                            </div>
                                        </td>
                                        <td class="text-right">
                                            <h5 style="color: @Model.StockColor">
                                                <span class="popup" style="color: @Model.StockColor" onclick="popupMessage('partPopup')">
                                                    <h5>
                                                        <span class="popup-text" style="margin-right: 50px" id="partPopup">@Model.StockMessage</span>
                                                        <i class="@Model.StockIcon"></i>
                                                    </h5>
                                                </span>
                                                <strong>Current Stock: @Model.CurrentStock</strong>
                                            </h5>
                                            <h6>Price in: @Html.DisplayFor(m => m.PriceIn)</h6>
                                            <h6>Price out: @Html.DisplayFor(m => m.PriceOut)</h6>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                @* Main *@
                <tr>
                    @* Image/Description *@
                    <td style="padding: 5px 10px; width: 60%">
                        @* image *@
                        <div class="part-image-container">
                                <img class="part-image" src="@Url.Content(@Model.ImagePath)" draggable="false">
                        </div>
                        @* Text *@
                        <div>
                            <div class="part-desc">
                                <p>@Model.Description</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>