@model CAM.Web.ViewModels.Discrepancies.DiscrepanciesIndexViewModel
<tr>
    <td scope="col">@Html.DisplayFor(m => m.DateCreated)</td>
    <td scope="col">@Html.DisplayFor(m => m.AircraftId)</td>
    <td scope="col">@Html.DisplayFor(m => m.Title)</td>
    <td scope="col" style="width: 200px">@Html.DisplayFor(m => m.WorkStatusViewModel.Description)</td>
    <td scope="col" align="center" style="width: 100px;">
        <a class="btn btn-sm btn-secondary" asp-action="Edit" asp-route-id="@Model.Id">View</a>
        <a class="btn btn-sm btn-secondary">Delete(WIP)</a>
    </td>
</tr>